<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asrorxon.onewordinfourpics">

    <application
        android:name="uz.gita.onewordinfourpics.app.App"
        android:allowBackup="true"
        android:icon="@drawable/four"
        android:label="1Link 4Pics"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneWorkInFourPics">
        <activity
            android:name="uz.gita.onewordinfourpics.ui.screens.InfoActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="uz.gita.onewordinfourpics.ui.screens.MenuActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="uz.gita.onewordinfourpics.ui.screens.GameActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="uz.gita.onewordinfourpics.ui.screens.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>